{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/meulivro.css' %}">
        <title> Página de criação de ingredientes </title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <h1> Vamos criar novos ingredientes! </h1>
        <form method="POST" enctype="multipart/form-data" class="Ingrediente_Form"> 
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="save btn btn-default"> Criar ingredientes</button>
        </form>
         <button> 
            <a href="/criar_receita"> Voltar para a criação de receita </a>
        </button>
        <button> 
            <a href="/"> Voltar para a home </a>
        </button>
        {% else %}
        <h1> Faça login para ter acesso a essa página </h1>
        <div class="botao-voltar">
            <a href="/" class="button"> Voltar para a home</a>
        </div>
        {% endif %}
    </body>

</html>