<html>
    <head>
        <title>Página inicial do agenda receitas</title>
    </head>
    <body>
        <div>
             <h1> Bem vindo à sua agenda de receitas *-* </h1>
        </div>
        <div>
            <p>
            <a href= /meu-livro-receitas> Clique aqui para ir para interagir com seu livro de receitas </href>
        </p>
        <p>
                    <a href="/livros-comunidade"> Clique aqui para ver as receitas da comunidade</a>
        </p>

        </div>
    </body>
</html>