{% load static %}

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/meulivro.css' %}">
</head>

<body>
    <div class="container">
        <div>
            {% for receita in meulivro %}
            <div class="receita-item">
                <h3> Receita: {{ receita.nome_da_receita }}</h3>

                <h3> Autor: {{ receita.author }} </h3>

                <h2> Calorias: {{ receita.calorias_total_receita }} kcal</h2>
                {%if receita.receita_imagem%}
                <img src=" {{ receita.receita_imagem.url}}" width="300">
                {% endif %}


                <h2> Ingredientes:{{receita.ingredientes.all|join:", "}}</h2>
                {% for ingrediente in receita.ingredientes.all %}
                <p>Ingrediente: {{ ingrediente.nomeingrediente }} - Calorias: {{ingrediente.total_calorias_ingrediente }} - Unidade usada-
                    {{ingrediente.tipo_unidade}}:{{ingrediente.unidade_usada}}
                    {% if ingrediente.observacoes %}
                    | <strong>Obs:</strong> <em>{{ ingrediente.observacoes }}</em>
                    {% endif %}
                    {%if ingrediente.ingrediente_imagem%}
                    <img src=" {{ ingrediente.ingrediente_imagem.url}}" width="50" height="50">
                    {% endif %}
                </p>
                {% endfor %}

                <p>Publicado em: {{ receita.published_date }}</p>
            </div>
            {% empty %}
            <p>Você ainda não tem receitas no seu livro.</p>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="botao-criar-receita">
            <a href="/criar_receita" class=" button">
                Quero Criar Uma Receita
            </a>
        </div>
        {% else %}
        {% endif %}
    </div>
</body>