
{% load static %}
<html>
    <head>
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/meulivro.css' %}">
        <title> Página de criação de receita </title>
    </head>
    <body>
        <h1> Fazer Login! </h1>
        <form method="POST" class="Receita_Form"> 
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="save btn btn-default"> Fazer Login</button>
        </form>
         <button> 
            <a href="/members/register"> Não tem uma conta ainda? Cadastre-se </a>
        </button>
        <button> 
            <a href="/"> Voltar para a home </a>
        </button>
    </body>

</html>
