
<html>
    <head>
        <title> Página de criação de receita </title>
    </head>
    <body>
        <h1> Se cadastre! </h1>
        <form method="POST" class="Receita_Form"> 
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="save btn btn-default"> Concluir cadastro</button>
        </form>
         <button> 
            <a href="/members/login/"> Já é cadastrado? Faça login </a>
        </button>
        <button> 
            <a href="/"> Voltar para a home </a>
        </button>
    </body>

</html>